<section class="section advantages">
  <div class="container">
    <p class="advantages-main-text">Переваги</p>
    <h2 class="advantages-main-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість i довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantage-list">
      <li class="advantage-card">
        <div class="advantage-card-cover">
          <picture>
            <source
              srcset="
                /img/advantages/img-1-desktop.jpg    1x,
                /img/advantages/img-1-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/advantages/img-1-tab.jpg    1x,
                /img/advantages/img-1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/advantages/img-1-mob.jpg    1x,
                /img/advantages/img-1-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/advantages/img-1-desktop.jpg"
              alt="Natural bag materials"
              width="288"
            />
          </picture>
        </div>
        <div class="advantage-part">
          <h3 class="advantage-name">Стійкість та екологічність</h3>
          <p class="advantage-feature">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>

      <li class="advantage-card">
        <div class="advantage-card-cover">
          <picture>
            <source
              srcset="
                /img/advantages/img-2-desktop.jpg    1x,
                /img/advantages/img-2-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/advantages/img-2-tab.jpg    1x,
                /img/advantages/img-2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/advantages/img-2-mob.jpg    1x,
                /img/advantages/img-2-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/advantages/img-2-desktop.jpg"
              alt="The process of making bags"
              width="288"
            />
          </picture>
        </div>
        <div class="advantage-part">
          <h3 class="advantage-name">Міцність i довговічність</h3>
          <p class="advantage-feature">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>

      <li class="advantage-card">
        <div class="advantage-card-cover">
          <picture>
            <source
              srcset="
                /img/advantages/img-3-desktop.jpg    1x,
                /img/advantages/img-3-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/advantages/img-3-tab.jpg    1x,
                /img/advantages/img-3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/advantages/img-3-mob.jpg    1x,
                /img/advantages/img-3-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/advantages/img-3-desktop.jpg"
              alt="Stylish eco-bags"
              width="288"
            />
          </picture>
        </div>
        <div class="advantage-part">
          <h3 class="advantage-name">Стильний та сучасний дизайн</h3>
          <p class="advantage-feature">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
