<footer class="footer">
  <div class="container-footer">
    <div class="footer-top">
      <a href="/src/index.html" class="footer-logo-link">
        <img
          src="/img/logo.svg"
          alt="logo"
          width="271"
          height="101"
          class="footer-logo"
        />
      </a>
      <ul class="footer-top-list">
        <li class="footer-top-item">
          <a href="/src/partials/hero.html" class="footer-nav-link">Про нас</a>
        </li>
        <li class="footer-top-item">
          <a href="/src/partials/advantages.html" class="footer-nav-link"
            >Переваги</a
          >
        </li>
        <li class="footer-top-item">
          <a href="/src/partials/product.html" class="footer-nav-link"
            >Асортимент</a
          >
        </li>
        <li class="footer-top-item">
          <a href="/src/partials/gallery.html" class="footer-nav-link"
            >Галерея</a
          >
        </li>
        <li class="footer-top-item">
          <a href="/src/partials/reviews.html" class="footer-nav-link"
            >Відгуки</a
          >
        </li>
        <li class="footer-top-item">
          <a href="/src/partials/contact.html" class="footer-nav-link"
            >Контакти</a
          >
        </li>
      </ul>
      <div class="footer-socials-link">
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a href="#" class="footer-social-link">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href="#" class="footer-social-link">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href="#" class="footer-social-link">
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a href="tel:+380999091122" class="footer-tel"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-address-item">
            <a href="mailto:hello@ecotote.com" class="footer-email"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="footer-copy">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
