<section class="gallery">
  <div class="container">
    <h2 class="gallery-tittle">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-item">
      <li class="gellery-list">
        <div class="picture-woman">
          <picture>
            <source
              srcset="
                /img/gallery/YoungWoman.jpg    1x,
                /img/gallery/YoungWoman@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/gallery/youngwoman-1xtab-min.jpg 1x,
                /img/gallery/youngwoman-tab2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/gallery/youngwoman-1xmob-min.jpg 1x,
                /img/gallery/youngwoman-2xmob-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery-images"
              src="/img/gallery/YoungWoman.jpg "
              alt="screen"
              width="288"
            />
          </picture>
        </div>
      </li>

      <li class="gellery-list">
        <div class="picture-man">
          <picture>
            <source
              srcset="
                /img/gallery/YoungMan.jpg    1x,
                /img/gallery/YoungMan@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/gallery/youngman-1tabx-min.jpg 1x,
                /img/gallery/youngman-tab2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/gallery/youngman-1xmob-min.jpg 1x,
                /img/gallery/youngman-2xmob-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery-images"
              src="/img/gallery/YoungMan.jpg"
              alt="screen"
              width="288"
            />
          </picture>
        </div>
      </li>

      <li class="gellery-list">
        <div class="picture-park">
          <picture>
            <source
              srcset="
                /img/gallery/Person-Park.jpg    1x,
                /img/gallery/Person-Park@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/gallery/personpark-1tabx-min.jpg 1x,
                /img/gallery/personpark-tab2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/gallery/personpark-1xmob-min.jpg 1x,
                /img/gallery/personpark-2xmob-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery-images"
              src="/img/gallery/Person-Park.jpg "
              alt="screen"
              width="288"
            />
          </picture>
        </div>
      </li>
      <li class="gellery-list">
        <div class="picture-bag">
          <picture>
            <source
              srcset="
                /img/gallery/EcoTote-BagChair.jpg    1x,
                /img/gallery/EcoTote-BagChair@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/gallery/ecobag-1tabx-min.jpg 1x,
                /img/gallery/ecobag-tab2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /img/gallery/ecobag-1xmob-min.jpg 1x,
                /img/gallery/ecobag-2xmob-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="gallery-images"
              src="/img/gallery/EcoTote-BagChair.jpg"
              alt="screen"
              width="288"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
