<header class="header__not__nav container">
  <div class="header__inner">
    <h1 class="header__title">EcoTote — Стиль, що не шкодить планеті</h1>
    <div class="header__right">
      <p class="header__description">
        Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
        відповідальність разом з EcoTote.
      </p>
      <div class="header__controls">
        <button
          type="button"
          class="header__button"
          aria-label="Кнопка для покупки"
        >
          Купити зараз
        </button>
      </div>
    </div>
    <div class="header__image-wrapper">
      <picture>
        <source
          srcset="/img/hero/hero.jpg 1x, /img/hero/hero@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <img
          src="/img/hero/hero_mob.jpg"
          srcset="/img/hero/hero_mob_2x.jpg"
          alt="Hero image"
          class="header__image"
          width="288"
          height="285"
        />
      </picture>
    </div>
  </div>
</header>
