<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="../index.html">
        <img src="/img/logo.svg" alt="logo" width="102.7" height="38.18" />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="/src/partials/hero.html" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="/src/partials/feature.html" class="header-nav-link"
            >Переваги</a
          >
        </li>
        <li class="header-nav-item">
          <a href="/src/partials/product.html" class="header-nav-link"
            >Асортимент</a
          >
        </li>
        <li class="header-nav-item">
          <a href="/src/partials/gallery.html" class="header-nav-link"
            >Галерея</a
          >
        </li>
        <li class="header-nav-item">
          <a href="/src/partials/reviews.html" class="header-nav-link"
            >Відгуки</a
          >
        </li>
        <li class="header-nav-item">
          <a href="/src/partials/contact.html" class="header-nav-link"
            >Контакти</a
          >
        </li>
      </ul>
    </nav>
    <address class="address">
      <ul class="header-address-list">
        <li class="header-address-item">
          <a href="tel:+38 (099) 909 11 22">+38 (099) 909 11 22</a>
        </li>
        <li class="header-address-item">
          <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
      </ul>
    </address>
  </div>
</header>
