<section class="product">
  <div class="container">
    <h2 class="section-title">Наші Сумки</h2>

    <ul class="bags-list">
      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecobag-classic-desk.jpg   1x,
              /src/img/product/ecobag-classic-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecobag-classic-tab.jpg   1x,
              /src/img/product/ecobag-classic-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecobag-classic-mob.jpg   1x,
              /src/img/product/ecobag-classic-mob2@.jpg 2x
            "
            media="(min-width: 320)"
          />
          <img
            src="//img/product/ecobag-classic-mob.jpg"
            alt="EcoBag Classic"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoBag Classic</h3>
          <p class="description">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="price">$25</p>
          <button type="button">Купити</button>
        </div>
      </li>
      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecotote-shopper-desk.jpg   1x,
              /src/img/product/ecotote-shopper-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecotote-shopper-tab.jpg   1x,
              /src/img/product/ecotote-shopper-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecotote-shopper-mob.jpg   1x,
              /src/img/product/ecotote-shopper-mob2@.jpg 2x
            "
            media="(min-width: 320)"
          />
          <img
            src="//img/product/ecotote-shopper-mob.jpg"
            alt="EcoTote Schopper"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoTote Schopper</h3>
          <p class="description">Ідеальна для покупок, з посиленими ручками.</p>
          <p class="price">$30</p>
          <button type="button">Купити</button>
        </div>
      </li>

      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecobackpack-urban-desk.jpg   1x,
              /src/img/product/ecobackpack-urban-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecobackpack-urban-tab.jpg   1x,
              /src/img/product/ecobackpack-urban-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecobackpack-urban-mob.jpg   1x,
              /src/img/product/ecobackpack-urban-mob2@.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="//img/product/ecobackpack-urban-mob.jpg"
            alt="EcoBackpack Urban"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoBackpack Urban</h3>
          <p class="description">
            Зручний рюкзак для міста з відділенням для ноутбука.
          </p>
          <p class="price">$45</p>
          <button type="button">Купити</button>
        </div>
      </li>

      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecocrossbody-mini-desk.jpg   1x,
              /src/img/product/ecocrossbody-mini-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecocrossbody-mini-tab.jpg   1x,
              /src/img/product/ecocrossbody-mini-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecocrossbody-mini-mob.jpg   1x,
              /src/img/product/ecocrossbody-mini-mob2@.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="//img/product/ecocrossbody-mini-mob.jpg"
            alt="EcoCrossbody Mini"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoCrossbody Mini</h3>
          <p class="description">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="price">$20</p>
          <button type="button">Купити</button>
        </div>
      </li>

      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecolunch-bag-desk.jpg   1x,
              /src/img/product/ecolunch-bag-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecolunch-bag-tab.jpg   1x,
              /src/img/product/ecolunch-bag-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecolunch-bag-mob.jpg   1x,
              /src/img/product/ecolunch-bag-mob2@.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="//img/product/ecolunch-bag-mob.jpg"
            alt="EcoLunch Bag"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoLunch Bag</h3>
          <p class="description">Стильна та практична сумка для обідів.</p>
          <p class="price">$15</p>
          <button type="button">Купити</button>
        </div>
      </li>

      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecobeach-tote-desk.jpg   1x,
              /src/img/product/ecobeach-tote-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecobeach-tote-tab.jpg   1x,
              /src/img/product/ecobeach-tote-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecobeach-tote-mob.jpg   1x,
              /src/img/product/ecobeach-tote-mob2@.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="//img/product/ecobeach-tote-mob.jpg"
            alt="EcoBeach Tote"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoBeach Tote</h3>
          <p class="description">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="price">$35</p>
          <button type="button">Купити</button>
        </div>
      </li>
      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecotravel-duffle-desk.jpg   1x,
              /src/img/product/ecotravel-duffle-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecotravel-duffle-tab.jpg   1x,
              /src/img/product/ecotravel-duffle-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecotravel-duffle-mob.jpg   1x,
              /src/img/product/ecotravel-duffle-mob2@.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="//img/product/ecotravel-duffle-mob.jpg"
            alt="EcoTravel Duffle"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoTravel Duffle</h3>
          <p class="description">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <p class="price">$60</p>
          <button type="button">Купити</button>
        </div>
      </li>
      <!---->

      <li class="bag-item">
        <picture>
          <source
            srcset="
              /src/img/product/ecokids-bag-desk.jpg   1x,
              /src/img/product/ecokids-bag-desk2@.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /src/img/product/ecokids-bag-tab.jpg   1x,
              /src/img/product/ecokids-bag-tab2@.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/product/ecokids-bag-mob.jpg   1x,
              /src/img/product/ecokids-bag-mob2@.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/img/product/ecokids-bag-mob.jpg"
            alt="EcoKids Bag"
            width="288px"
            height="345px"
          />
        </picture>

        <div class="bag-text">
          <h3 class="bag-name">EcoKids Bag</h3>
          <p class="description">Яскрава та зручна сумка для дітей.</p>
          <p class="price">$22</p>
          <button type="button">Купити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--https://github.com/Anastasiia-tyk/ecotote-project-08/pull/9/-->
