<section class="reviews">
    <div class="container">
    <h2 class="reviews-heading">Що говорять наші клієнти</h2>
    <ul class="reviews-list">
        <li class="reviews-list-item">
            <ul class="reviews-stars-list">
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="review-text">Сумка дуже зручна та стильна, використовую щодня!</p>
            <p class="review-person">Анна</p>
        </li>
        <li class="reviews-list-item">
            <ul class="reviews-stars-list">
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="review-text">Відмінна якість матеріалів, приємно здивована.</p>
            <p class="review-person">Ігор</p>
        </li>
        <li class="reviews-list-item">
            <ul class="reviews-stars-list">
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="review-text">Сумка повністю відповідає опису, рекомендую!</p>
            <p class="review-person">Олена</p>
        </li>
        <li class="reviews-list-item">
            <ul class="reviews-stars-list">
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="reviews-star-empty">
                    <svg width="24" height="24" class="reviews-star-icon">
                        <use href="/img/icons.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="review-text">Швидка доставка та гарне обслуговування.</p>
            <p class="review-person">Сергій</p>
        </li>
    </ul>
    </div>
</section>
