/* ================ Advantages ============== */
/* =========== Mobile Phone =========== */
.container {
  max-width: 320px;
}

.advantages {
  padding-top: 32px;
  padding-bottom: 32px;
}

.advantages-main-text {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;
}

.advantages-main-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.advantages-text {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 48px;
}

.advantage-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}

.advantage-part {
  padding-top: 8px;
}

.advantage-card {
  width: 100%;
  margin: 0 auto;
  max-width: 288px;
}

.advantage-card-cover {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  height: 198px;
  transform: translateZ(0);
}

.advantage-card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.advantage-name {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.advantage-feature {
  font-weight: 400;
  line-height: 1.6;
}
