.header__not__nav {
}
.container {
}
.header__inner {
  margin-top: 16px;
  margin-right: 16px;
}

.header__title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-top: 64px;
  margin-bottom: 20px;
}

.header__description {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 24px;
}

.header__controls {
  margin-bottom: 24px;
}
.header__button {
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  min-width: 288px;
  min-height: 50px;
  background-color: #030a06;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  transition-property: opacity, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button:hover,
.header__button:focus {
  opacity: 0.5;
  background-color: #030a06;
}

.header__button:active {
  background-color: #113916;
  opacity: 0.6;
}

.header__button:disabled {
  background-color: #030a06;
  opacity: 0.2;
}

.header__image-wrapper {
  margin-bottom: 64px;
}
.header__picture {
}
.header__image {
}

/* https://github.com/Anastasiia-tyk/ecotote-project-08/pull/3 */

@media only screen and (min-width: 768px) {
  .header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    padding: 0;
    margin: 32px auto 0 auto;
    max-width: 704px;
  }

  .header__title {
    flex: 0 0 328px;
    margin: 0;
  }

  .header__right {
    flex: 0 0 328px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .header__image-wrapper {
    flex-basis: 100%;
    order: 3;
    margin-top: 20px;
  }

  .header__image {
    width: 100%;
    height: auto;
    display: block;
  }
}
